<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
    <head th:replace="~{/fragments/head :: head}">
    </head>
    <body>
        <div th:if="${success!=null}" class="alert alert-warning" role="alert">
            <span th:text="${success}"></span>
        </div>
        <nav th:replace="~{fragments/navbar :: nav}">
        </nav>
        <div class="container mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Home</h1>
                <p class="lead" th:if="${session.usernameSession != null}" th:text=" 'Welcome Back, ' + ${session.usernameSession.getName()}"></p>
                <hr class="my-4" />
                <p>It is a customizable page</p>
                <div class="container">
                    <a th:if="${session.usernameSession.image != null}" class="d-flex align-items-center">
                        <img class="logo"  th:src="@{/image/profile/__${session.usernameSession.id}__}" >
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
